# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so
*.egg-info/
*.egg
*.venv/
venv/
env/
ENV/
pip-log.txt
pip-delete-this-directory.txt

# Django
*.sqlite3
db.sqlite3
*.log
*.pot
*.pyc
local_settings.py
media/
staticfiles/

# Docker
*.env
docker-compose.override.yml
**/Dockerfile.*
**/docker-compose.override.yml
**/docker-compose.override.yaml

# VSCode / IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
