body {
  font-family: Arial, sans-serif;
  background-color: hwb(106 1% 72% / 0.812);
  margin: 0;
  padding: 20px;
  text-align: center;
}

h1 {
  color: hsl(184, 50%, 64%);
  margin-bottom: 20px;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
  max-width: 900px;
  margin: 0 auto;
}

.pokemon-card {
  background-color: lab(63% 44.36 20.74);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.pokemon-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.pokemon-card img {
  width: 100px;
  height: 100px;
}
