body {
  font-family: Arial, sans-serif;
  background-color: #af4747;
  margin: 0;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #ffffff;
  margin-bottom: 20px;
}

/* Grid de la galería */
.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
  max-width: 900px;
  margin: 0 auto;
}

/* Tarjeta de Pokémon */
.pokemon-card {
  background-color: #293883;
  border-radius: 10px;
  padding: 10px;
  color: #ffffff;

  box-shadow: 0 4px 8px rgb(255, 255, 255);
  transition: transform 0.3s, box-shadow 0.3s;
}

.pokemon-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgb(255, 255, 255);
}

.pokemon-card img {
  width: 100px;
  height: 100px;
}
